<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDebugProtocolService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/Tvl.Java.DebugHost/DebugProtocolService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDebugProtocolService"
                contract="DebugProtocol.IDebugProtocolService" name="WSDualHttpBinding_IDebugProtocolService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>