<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Tvl.Java.DebugHost.Services.JvmToolsInterfaceService">
                <endpoint address="" binding="wsHttpBinding" contract="Tvl.Java.DebugHost.Services.IJvmToolsInterfaceService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Tvl.Java.DebugHost/JvmToolsInterfaceService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Tvl.Java.DebugHost.Services.JvmEventsPublisher">
                <endpoint address="" binding="wsDualHttpBinding" contract="Tvl.Java.DebugHost.Services.IJvmEventsService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Tvl.Java.DebugHost/JvmEventsService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Tvl.Java.DebugHost.Services.JvmDebugSessionService">
                <endpoint address="" binding="wsHttpBinding" contract="Tvl.Java.DebugHost.Services.IJvmDebugSessionService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Tvl.Java.DebugHost/JvmDebugSessionService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Tvl.Java.DebugHost.Services.DebugProtocolService">
                <endpoint address="" binding="wsDualHttpBinding" contract="Tvl.Java.DebugHost.Services.IDebugProtocolService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/Tvl.Java.DebugHost/DebugProtocolService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
